{% extends "base.html" %}

{% block content %}

<style> 
.card {
    width: 500px;
    height: 100px;
    border: 2px solid #ddddddd2;
    border-radius: 10px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 2px 16px;
}
</style>
<h1>Account</h1>
<h4>Profile</h4>
<a class="card" style="text-decoration:none; color:inherit;" href="{{ url_for('purchases.purchases') }}">
    <h4>Purchases</h4>
</a>
{% if isseller == 1 %}
    <a class="card" style="text-decoration:none; color:inherit;" href="{{ url_for('inventory.inventory', seller_id = current_user.id) }}">
        <h4>Inventory</h4>
    </a>
{% endif %}

{% endblock %}