{% extends "base.html" %}

{% block content %}

<style>


    .btn-secondary-2 {
        background-color: red;
        color: white
    }

</style>

{% if current_user.is_authenticated %}
<p style="margin-top: 10px;">
    <a href="{{ url_for('index.index') }}">Home</a>
    / <a href="{{ url_for('users.account') }}">Account</a>
    / Reviews
</p>

<br>
<h2>Your posted reviews</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Review subject</th>
            <th scope="col">Rating</th>
            <th scope="col">Comment</th>
            <th scope="col">Date posted</th>
            <th scope="col">Edit review</th>
            <th scope="col">Delete review</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in partial_feedback %}
        <tr>
            <td>{{ names[partial_feedback.index(feedback)] }} <i>({{feedback.review_type}}) </i></td>
            <td>{{ feedback.rating }}</td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.time_posted }}</td>
            <td> <a class="btn btn-secondary" href="{{ url_for('feedback.edit_feedback', id = feedback.id) }}" role="button">Edit</a> </td>
            <td> <a class="btn btn-secondary-2" href="{{ url_for('feedback.delete_feedback', id = feedback.id) }}" role="button">Delete</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.info }}
{{ pagination.links }}
<br><br>

<h2>Completed purchases pending review</h2>
<table class="table">
<thead class="thead-dark">
    <tr>
       
        <th scope="col">Product name</th>
        <th scope="col">Review?</th>
    </tr>
</thead>
<tbody>
    {% for p in partial_pending %}
        <tr>
            
            
           <td>  {{ p.name }} </td>
           <td> <a class="btn btn-secondary" href="{{ url_for('purchases.purchases') }}" role="button">Go to orders</a> </td>
           
           
        
        
       
           
           
        </tr>
        {% endfor %}
    </tbody>
  
</table>


    
{{ pagination_2.info }}
{{ pagination_2.links }}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your feedback history!</p>
{% endif %}

{% endblock %}
