{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Items in Cart:</h2>
{{ pagination.info }}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Item Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in items%}
      <tr>
        <th scope="row">{{product.prod_name}}</th>
        <td>{{product.price}}</td>
        <td>
          <form action="{{ url_for('cart_bp.showCart') }}" method="POST">
            <input type="hidden" name="bid" value="{{ current_user.id }}">
            <input type="hidden" name="sid" value="{{ product.seller_id }}">
            {{ form_uq.csrf_token }}
            <input type="number" name="new_quantity" value="{{ product.quantity }}">
            {% if form_uq.errors %}
            <ul>
                {% for field, errors in form_uq.errors.items() %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            {{ form_uq.submit() }}
        </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
<a href="/cart/submit" type="button" class="btn btn-dark">Submit Cart as Order</a>
{% endblock %}

