{% extends "base.html" %}

{% block content %}

<p style="margin-top: 10px;">
    <a href="{{ url_for('users.account') }}">Account</a>
    /
    <a href="{{ url_for('users.profile') }}">Profile</a>
    / Change Password
  </p>
<h1>Change Password </h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.currentpassword.label }}<br/>
      {{ form.currentpassword(size=32) }}<br/>
      {% for error in form.currentpassword.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br/>
      {{ form.password(size=32) }}<br/>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password2.label }}<br/>
      {{ form.password2(size=32) }}<br/>
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.save() }}  {{ form.cancel() }}</p>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </p>
  </form>

{% endblock %}
