{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <td width=100px height="100px">
          <img src="static/css/{{product.category}}.jpg" width="200" height="200"></img>
        </td>        
        <td><a href="/detailed_product/{{product.name}}">{{product.name}}</a></td>
        <td>{{product.get_rating(product.id)}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

