{% extends "base.html" %}

{% block content %}

<br><br>

<h2> Inventory for {{name}} </h2>
<form method="post" action="{{ url_for('inventory.inventory', seller_id=id) }}">
  {{ form_search.csrf_token }}
  {{ form_search.search_input.label }}
  {{ form_search.search_input(size=32) }}
  {{ form_search.submit() }}
</form>

{% if err_message != 0 %}
<h4 style="color: red;"> {{err_message}} </h4>
{% endif %}
<br><br>
<a href="{{ url_for('inventory.inventory', seller_id =id) }}" type="button" class="btn btn-light">Show Full Inventory</a>

{{ pagination.info }}
{{ pagination.links }}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Number Available</th>
      {% if current_user.is_authenticated %}
        {% if current_user.id==id %}
          <th scope="col">Remove Product</th>
        {% endif %}
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in inv%}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{item.product_name}}</td>
        {% if current_user.is_authenticated %}
          {% if current_user.id == id %}
            <td>
              <!-- {{item.number_available}} -->
              <form action="{{ url_for('inventory.inventory', seller_id=id, product_id=item.id) }}" method="POST">
                <input type="hidden" name="product_name" value="{{ item.product_name }}">
                {{ form_uq.csrf_token }}
                <input type="number" name="new_quantity" value="{{ item.number_available }}">
                {% for error in form_uq.new_quantity.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form_uq.submit() }}
            </form>
            </td>
            <td>
              <!-- {{item.number_available}} -->
              <form action="{{ url_for('inventory.inventory', seller_id=id) }}" method="POST">
                <input type="hidden" name="product_name" value="{{ item.product_name }}">
                {{ form_dp.csrf_token }}
                {{ form_dp.submit() }}
            </form>
            </td>
          {% else %}
            <td>{{item.number_available}} </td>
          {% endif %}
        {% else %}
          <td>{{item.number_available}} </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% if current_user.is_authenticated %}
  {% if current_user.id == id %}
    <a href="{{ url_for('inventory.add_products', seller_id = current_user.id, isseller=1, error=0) }}" type="button" class="btn btn-light">Add Product</a>
    <a href="{{ url_for('inventory.delete_products', seller_id = current_user.id, isseller=1, error=0) }}" type="button" class="btn btn-light">Delete Product</a>
    <a href="{{ url_for('inventory.update_products', seller_id = current_user.id, isseller=1, error=0) }}" type="button" class="btn btn-light">Update Quantities</a>
  {% endif %}
{% endif %}

{% endblock %}