{% extends "inventory.html" %}

{% block content %}

<p style="margin-top: 10px;">
  <a href="{{ url_for('index.index') }}">Home</a>
  /
  <a href="{{ url_for('users.account') }}">Account</a> 
  /
  <a href="{{ url_for('inventory.inventory', seller_id=current_user.id) }}">Inventory</a>
  / Delete
</p>
<h1>Delete Product from Inventory</h1>

{% if error == 1 %}
<h3 style="color:red">Could not delete product, please try again</h3>
{% endif %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.product_name.label }}<br/>
      {{ form.product_name(size=100) }}<br/>
      {% for error in form.product_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  
  {% endblock %}