{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Orders (Sellers)</h2>

<form action="{{ url_for('purchases.orders') }}" method="post">
  {{ searchForm.hidden_tag() }}
  {{ searchForm.keyword.label }}
  {{ searchForm.keyword(size=32) }}
  {{ searchForm.csrf_token }}
  {{ searchForm.submit() }}
</form>

<div>
  <form action="" method="post" style="text-align: right;">
    {{ filterForm.csrf_token }}
    {{ filterForm.hidden_tag() }}
      {{ filterForm.status() }} {{ filterForm.submit() }}</p>
  </form>
</div>

<a href="{{ url_for('purchases.orders') }}" type="button" class="btn btn-light">View All Orders</a>
<br><br>
{{ pagination.info }}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Buyer</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time</th>
      <th scope="col">Fulfilled</th>
    </tr>
  </thead>
  <tbody>
    {% for order in items%}
      <tr>
        <th scope="row">{{order.product_name}}</th>
        <td>{{order.buyer_id}}</td>
        <td>{{order.address}}</td>
        <td>{{order.date}}</td>
        <td>{{order.quantity}}</td>
        <td>
          <form method="POST" action="{{ url_for('purchases.orders') }}">
            <input type="hidden" name="buyer" value="{{ order.buyer_id }}">
            <input type="hidden" name="time" value="{{ order.quantity }}">
            <input type="checkbox" name="status" value="{{ order.status }}" {% if order.status %}checked{% endif %} v>
            <!-- {{ form_fulfilled.status.label }} -->
            {{ form_fulfilled.csrf_token }}
            {{ form_fulfilled.submit() }}
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% endblock %}


