{% extends "base.html" %}

{% block content %}

<p style="margin-top: 10px;">
    <a href="{{ url_for('index.index') }}">Home</a>
    / <a href="{{ url_for('users.account') }}">Account</a>
    / <a href="{{ url_for('purchases.purchases') }}">Purchases</a>
    / Post review
</p>
{% if already_reviewed%}

<h1>Post Seller Review</h1>
<form action="" method="post">
   
<p>
    {{form.rating.label}} </br>
    {{form.rating}} </br>
</p>
<p>
    {{form.comment.label}} </br>
    {{form.comment}} </br>
</p>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
{{ form.submit(class_="btn btn-black") }}

</form>

{% else %}
You already reviewed this seller.
<br>
<p>
    <a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Go back to home</a>
</p>
{% endif %}

{% endblock %}