{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<p style="margin-top: 10px;">
  <a href="{{ url_for('index.index') }}">Home</a>
  /
  <a href="{{ url_for('users.account') }}">Account</a>
  / Purchases
</p>
<h2>Orders and Purchases</h2>
  {{ pagination.info }}
  {{ pagination.links }}
  <form action="" method="post">
    {{ searchForm.hidden_tag() }}
    <p>
      {{ searchForm.keyword.label }}: {{ searchForm.keyword(size=32) }} {{ searchForm.submit() }}
    </p>
  </form>
  <div>
    <a href="{{ url_for('purchases.purchases') }}" type="button" class="btn btn-light">View All Purchases</a>
    <form action="" method="post" style="text-align: right;">
      {{ filterForm.hidden_tag() }}
        {{ filterForm.status() }} {{ filterForm.submit() }}</p>
    </form>
    <form action="" method="post" style="text-align: right;">
      {{ sortForm.hidden_tag() }}
        {{ sortForm.sort() }} {{ sortForm.submit() }}</p>
    </form>
  </div>

  <table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Line Order Fulfillment Status</th>
      <th scope="col">Entire Order Fulfillment Status</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope = "row">{{products[purchase_history.index(purchase)].name}}</th>
        <td>{{purchase.time_purchased}}</td>
        <td>${{purchase.total_amount}}</td>
        <td>{{purchase.number_of_items}}</td>
        {% if purchase.fulfillment_status%}
        <td>Fulfilled</td>
        {% else %}
        <td>Not Fulfilled</td>
        {% endif %}
        <td>Order Fulfilled?</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}