{% extends "base.html" %}

{% block content %}
<h2>Posted feedback</h2>


<table class="table">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{ feedback.rating }}</td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.time_posted }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}